<% provide(:title, 'Sign up') %>

<div class="row">
  <div class="new-user">
    <%= form_for(@user) do |f| %>
      <img src="../assets/logo2.png" id="login-logo">

      <%= render 'shared/error_messages' %>

      <%= f.text_field :name, class: 'form-control', placeholder: "Name" %>

      <%= f.email_field :email, class: 'form-control', placeholder: "Email address" %>

      <%= f.password_field :password, class: 'form-control', placeholder: "Password" %>

      <%= f.submit "Create my account", class: "btn btn-create" %>
    <% end %>
    </div>
    <div class="already-user">
      <p>Already have an account? <%= link_to "Log in", '/login' %></p>
    </div>
  </div>
</div>



<style>
/* forms */

# input, textarea, select, .uneditable-input {
#   border: 1px solid #bbb;
#   width: 100%;
#   margin-bottom: 15px;
#   @include box_sizing;
# }

# input {
#   height: auto !important;
# }

body { background-color: #7F7F7F; }

</style>