<h1>ランキング</h1>



ログインユーザ情報:
<%= @myId %>
<%= @myName %>
<%= @myScore %>

<table>
  <tbody>
    <% @users.each_with_index do |user, rank| %>
      <tr>
      <td><%= rank + 1 %></td><!-- 配列のインデックスがランキングの順位に対応 -->
      <td>
        <img width="40" src="<%= user[:icon] %>">
        <%= user[:name] %>
      </td>
      <td><%= user[:score] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
