
<h1 class="title">プロフィール</h1>

<div class="avatar">
  <%= form_tag '/home',{controller: 'profile',method:'set_record'} do |f| %>
    <input type="image" id="profile" class="profile_button" ontouchstart="" img width="240" src="<%= @icon %>" >
  <% end %> 
  <div class="balloon2-left">
    <p>今日のタスクを達成したら僕をクリックしてね</p>
  </div>

<!-- <%= @avatar_name %> Level<%= @level %> -->
  <div class="status">
    <div class="name-div">
      <p><%= current_user[:name] %></p>
    </div> 
    <div class="level-div">
      <p>Lv. <%= @current_profile.get_level %></p>
    </div>
    <div class="exp-div">
      <meter id="exp_meter" value="<%= @current_profile[:experience] %>" max="<%= @current_profile.get_next_total_exp %>" style="width: 75%"></meter>
      <p><%= @current_profile[:experience] %> / <%= @current_profile.get_next_total_exp %><p>
    </div>
  </div>
</div>

<div class="goalandtask">
  <div class="goal">
    <p contentEditable="true">目標：<%= @current_profile[:goal] %></p>
  </div>
  <div class="task">
    <p contentEditable="true">やること：<%= @current_profile[:daily_task] %></p>
  </div>
  <div class="edit">
    <p><%= link_to 'Edit',edit_profile_path(@current_profile) %></p>
  </div>
</div>

 <!--<%= link_to 'Ranking', '/ranking/show' %> -->

<style>
  body {
      text-align: center;
  }
</style>
