<head>
  <%= include_gon %>
</head>

<body>
<div class="container">
<h1 class="title">プロフィール</h1><hr>
<%=flash[:link_error]%>
<div class="avatar">
  <div class="balloon">
  <%= flash[:success].to_s.html_safe %>
  
  <%= flash.discard(:notice)%>
  </div>
  <%= form_tag '/home',{controller: 'profile',method:'set_record'} do |f| %>

    <input type="image" id="profile" class="profile_button" ontouchstart="" src="<%= @current_profile.get_avatar %>" >

  <% end %> 
  

  <div class="status">
    <div class="name-div">
      <p><%= current_user[:name] %></p>
    </div> 
    <div class="level-div">
      <p>Lv. <%= @current_profile.get_level %></p>
    </div>
    <div class="exp-div">
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: <%=
          (@current_profile[:experience] - @current_profile.get_prev_required_total_exp).to_f /
          (@current_profile.get_next_required_total_exp - @current_profile.get_prev_required_total_exp).to_f * 100
        %>%"></div>
      </div>
      <p><%= @current_profile[:experience] %> / <%= @current_profile.get_next_required_total_exp %><p>
    </div>
  </div>
</div>

<div class="goalandtask">
  <div class="goal">
    <p contentEditable="true">目標：<%= @current_profile[:goal] %></p>
  </div>
  <div class="task">
    <p contentEditable="true">やること：<%= @current_profile[:daily_task] %></p>
  </div>
  <div class="edit">
    <p><%= link_to '変更',edit_profile_path(@current_profile) %></p>
  </div>
</div>

<!--<%= link_to 'Ranking', '/ranking/show' %> -->

<h3 class="title">あなたの記録</h3>
<div id="calendar"></div>
<div style='text-align: center; margin: 20px auto 50px;'><%= link_to '詳しく見る', '/record' %></div>

</div>
</body>